.profile-image{
	position: relative;
	display: inline-block;
	float: left;
}
.profile-image-big{
	height: 200px;
	width: 200px;
	background-image: url('../images/user_default_logo_200_200.png');
}
.notification {
    position: relative;
    float: right;
    top: 5px;
    left: -5px;
    color: #FF1111;
}