
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myRestaurantLabel">Create or edit a Restaurant</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="restaurant.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="restaurant.name"
                    required />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="restaurant.description"
                    required />
            <div ng-show="editForm.description.$invalid">
                <p class="help-block"
                    ng-show="editForm.description.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_map_x_coordinate">Map_x_coordinate</label>
            <input type="number" class="form-control" name="map_x_coordinate" id="field_map_x_coordinate"
                    ng-model="restaurant.map_x_coordinate"
                    required />
            <div ng-show="editForm.map_x_coordinate.$invalid">
                <p class="help-block"
                    ng-show="editForm.map_x_coordinate.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.map_x_coordinate.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_map_y_coordinate">Map_y_coordinate</label>
            <input type="number" class="form-control" name="map_y_coordinate" id="field_map_y_coordinate"
                    ng-model="restaurant.map_y_coordinate"
                    required />
            <div ng-show="editForm.map_y_coordinate.$invalid">
                <p class="help-block"
                    ng-show="editForm.map_y_coordinate.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.map_y_coordinate.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
